body {
    background-color: #000000;
    }

h5 {
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: .8em;
}

.navbar-inverse {
    background-color: #000000;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    font-weight: bold;
    
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #000000;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #ff0078;
    background-color: #000000;

}

.jumbotron {
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;
}